<div class="login">
  <div class="login-container">
    <div class="login__logo">
      <img src="assets/suambank-logo.png" alt="SUAMBANK">
    </div>
    
      <form class="login__form">
        <div class="login__form__input">
          <input name="cpf" id="login-cpf" type="text" placeholder="CPF">
          <label for="login-cpf">CPF</label>
        </div>

        <div class="login__form__input">
          <input type="password" id="login-password" placeholder="SENHA">
          <label for="login-password">SENHA</label>
        </div>

        <button>ENTRAR</button>
        <a href="http://">esqueci minha senha</a>
      </form>
      
  </div>
</div>
