<div class="login">
  <div class="login-container">
    <div class="login__logo">
      <img src="assets/suambank-logo.png" alt="SUAMBANK">
    </div>
    
    <div class="login__form">
      <form>
        <div class="login__form__input">
          <label for="">CPF</label>
          <input type="text">
        </div>

        <div class="login__form__input">
          <label for="">SENHA</label>
          <input type="text">
        </div>

        <button>ENTRAR</button>
        <a href="http://">esqueci minha senha</a>
      </form>
    </div>
  </div>
</div>
